<footer>
  <div class="container">
    <p>&copy; <%= new Date().getFullYear() %> Canary Films. All rights reserved.</p>
    <p><a href="https://www.canaryfilms.org/" target="_blank">Visit Canary Films Official Website</a></p>
  </div>
</footer>
